<div
  style="
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    align-items: center;
    border: 2px solid black;
    padding: 5px 12px;
    border-radius: 12px;
    box-shadow: 2px 1px 0.5px 1px rgb(135, 134, 134);
  "
>
  <% if (task.isDone == 'true') {%>
  <p style="display: flex; margin: 0; text-decoration: line-through">
    <%= task.name%>
  </p>
  <%} else {%>
  <p style="display: flex; margin: 0;"><%= task.name%></p>
  <% }%>

  <span style="display: flex; gap: 8px; align-items: center">
    <% if(task.isDone == "false") {%>
    <form method="post" action="/api/v1/task/finish/<%=task._id%>">
        <button type="submit" class="btn btn-success" style="width: 80px">
          Finish
        </button>
    </form>
    <%} else {%>
    <form method="post" action="/api/v1/task/unfinish/<%=task._id%>">
        <button type="submit" class="btn btn-success" style="width: 80px">
          Unfinish
        </button>
    </form>
    <%}%>
    <form method="post" action="/api/v1/task/<%=task._id%>?_method=DELETE">
      <button type="submit" class="btn btn-danger" style="width: 80px">
        Delete
      </button>
    </form>
  </span>
</div>
